<div style="background:#fff;border-radius:8px;padding:1.5rem;box-shadow:0 1px 3px rgba(0,0,0,.08);margin-bottom:1rem">
  <h2 style="font-size:1.1rem;font-weight:600;margin-bottom:1rem">
    {% if cita %}Editar cita{% else %}Nueva cita{% endif %}
  </h2>
     {% if form.non_field_errors %}
    <div id="error-solapamiento" style="background:#fef2f2;border:1px solid #fecaca;border-radius:6px;padding:.75rem;color:#dc2626;font-size:.875rem;margin-bottom:1rem">
      ⚠️ {{ form.non_field_errors.0 }}
    </div>
  {% endif %}

  <form
    {% if cita %}
      hx-post="{% url 'calendario:cita_edit' cita.pk %}"
    {% else %}
      hx-post="{% url 'calendario:cita_create' %}"
    {% endif %}
    hx-target="#cita-list"
    hx-swap="beforeend"
    style="display:grid;grid-template-columns:1fr 1fr;gap:1rem">

    {% csrf_token %}

    {% for field in form %}
      <div style="{% if field.name == 'anotaciones' %}grid-column:span 2{% endif %}">
        <label style="display:block;font-size:.8rem;font-weight:500;color:#475569;margin-bottom:.3rem">
          {{ field.label }}{% if field.field.required %} *{% endif %}
        </label>
        {{ field }}
        {% if field.errors %}
          <p style="color:#dc2626;font-size:.8rem;margin-top:.2rem">{{ field.errors.0 }}</p>
        {% endif %}
      </div>
    {% endfor %}



    <div style="grid-column:span 2;display:flex;gap:.5rem;margin-top:.5rem">
      <button type="submit" class="btn">
        {% if cita %}Guardar cambios{% else %}Crear cita{% endif %}
      </button>
      <button
        type="button"
        class="btn btn-ghost"
        hx-get="{% url 'calendario:cita_boton' %}"
        hx-target="#form-container"
        hx-swap="innerHTML">
        Cancelar
      </button>
    </div>
  </form>
</div>